---
export interface Props {
	content?: any;
	title?: string;
}

const { content, title = content?.title || 'Astro Embed Testbed' } =
	Astro.props as Props;
const { pathname } = Astro.canonicalURL as URL;
const isHome = pathname.length <= 1;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>

	<body>
		<div style="max-width: 40em; margin: 0 auto;">
			<h1>{title}</h1>
			{!isHome && <a href="/">← Home</a>}
			<slot />
		</div>
	</body>
</html>
