---
import { BaselineStatus } from '@astro-community/astro-embed-baseline-status';
import Base from '../layouts/Base.astro';
---

<Base title="BaselineStatus component example">
	<h2>Basics</h2>
	<p>
		<code>&lt;BaselineStatus id="anchor-positioning" /&gt;</code>
	</p>
	<BaselineStatus id="anchor-positioning" />
	<p>
		<code>&lt;BaselineStatus id="scroll-snap" /&gt;</code>
	</p>
	<BaselineStatus id="scroll-snap" />
	<p>
		<code>&lt;BaselineStatus id="masonry" /&gt;</code>
	</p>
	<BaselineStatus id="masonry" />
	<p>
		<code>&lt;BaselineStatus id="has" /&gt;</code>
	</p>
	<BaselineStatus id="has" />
	<h2>Missing feature</h2>
	<p>
		<code>&lt;BaselineStatus id="rainbow-unicorns" /&gt;</code>
	</p>
	<BaselineStatus id="rainbow-unicorns" />
</Base>
