---
import { BaselineStatus } from '@astro-community/astro-embed-baseline-status';
import Base from '../layouts/Base.astro';
---

<Base title="BaselineStatus component example">
	<h2>Default</h2>
	<p>
		<code
			>&lt;BaselineStatus id="anchor-positioning" /&gt;</code
		>
	</p>
	<BaselineStatus id="anchor-positioning" />
</Base>
