---
import * as Component from 'astro-embed';
import Base from '../layouts/Base.astro';
---

<Base title="Gist component examples">
	<h2>All files</h2>
	<Component.Gist
		id="https://gist.github.com/vasfvitor/1f995c47ee82ae652496622db1e678ea"
	/>

	<h2>Specific file</h2>
	<Component.Gist
		id="https://gist.github.com/vasfvitor/1f995c47ee82ae652496622db1e678ea"
		file="03-fileName.rs"
	/>
</Base>
