---
import Base from '../layouts/Base.astro';
---

<Base>
	<h2>Components</h2>
	<ul>
		<li>
			<a href="/twitter"><code>&lt;Tweet/&gt;</code> component examples</a>
		</li>
		<li>
			<a href="/vimeo"><code>&lt;Vimeo/&gt;</code> component examples</a>
		</li>
		<li>
			<a href="/youtube"><code>&lt;YouTube/&gt;</code> component examples</a>
		</li>
		<li>
			<a href="/link-preview"
				><code>&lt;LinkPreview/&gt;</code> component examples</a
			>
		</li>
		<li>
			<a href="/baseline-status"
				><code>&lt;BaselineStatus/&gt;</code> component examples</a
			>
		</li>
		<li>
			<a href="/bluesky"><code>&lt;BlueskyPost/&gt;</code> component examples</a>
		</li>
	</ul>
	<h2>Other examples</h2>
	<ul>
		<li>
			<a href="/markdown">Components in MDX examples</a>
		</li>
		<li>
			<a href="/integration">MDX integration examples</a>
		</li>
		<li>
			<a href="/twitter-with-js">
				<code>&lt;Tweet/&gt;</code> with JavaScript (Light theme)
			</a>
		</li>
		<li>
			<a href="/twitter-with-js-dark">
				<code>&lt;Tweet/&gt;</code> with JavaScript (Dark theme)
			</a>
		</li>
	</ul>
</Base>
