---
import Base from '../layouts/Base.astro';
---

<Base>
	<ul>
		<li>
			<a href="/twitter"><code>&lt;Tweet/&gt;</code> component examples →</a>
		</li>
		<li>
			<a href="/youtube"><code>&lt;YouTube/&gt;</code> component examples →</a>
		</li>
		<li>
			<a href="/markdown">Markdown page test →</a>
		</li>
	</ul>
</Base>
