---
import Base from '../layouts/Base.astro';
---

<Base>
	<ul>
		<li>
			<a href="/twitter"><code>&lt;Tweet/&gt;</code> component examples</a>
		</li>
		<li>
			<a href="/vimeo"><code>&lt;Vimeo/&gt;</code> component examples</a>
		</li>
		<li>
			<a href="/youtube"><code>&lt;YouTube/&gt;</code> component examples</a>
		</li>
		<li>
			<a href="/markdown">Components in Markdown examples</a>
		</li>
		<li>
			<a href="/integration">Markdown integration examples</a>
		</li>
	</ul>
</Base>
