---
import { OpenGraph } from '@astro-community/astro-embed-og';
import Base from '../layouts/Base.astro';
---

<Base title="OpenGraph component example">
	<h2>Default</h2>
	<p>
		<code>&lt;OpenGraph id="https://astro.build/blog/welcome-world/" /&gt;</code
		>
	</p>
	<OpenGraph id="https://astro.build/blog/welcome-world/" />

	<h2>(very) Basic Styles</h2>
	<p>
		<code
			>&lt;OpenGraph styled id="https://astro.build/blog/welcome-world/" /&gt;</code
		>
	</p>
	<OpenGraph styled id="https://astro.build/blog/welcome-world/" />

	<h2>Custom size</h2>
	<p>
		<code
			>&lt;OpenGraph imageWidth="200px" imageHeight="105px"
			id="https://astro.build/blog/welcome-world/" /&gt;</code
		>
	</p>
	<OpenGraph
		imageWidth="200px"
		imageHeight="105px"
		id="https://astro.build/blog/welcome-world/"
	/>
</Base>
