---
import { OpenGraphEmbed } from '../../../packages/astro-embed-og';
// import { OpenGraph } from '@astro-community/astro-embed-og';
import Base from '../layouts/Base.astro';
---

<Base title="OpenGraph component example">
  <h2>Styled</h2>
  <p>
    <code
      >&lt;OpenGraphEmbed url="https://astro.build/blog/welcome-world/" /&gt;</code
    >
  </p>
  <OpenGraphEmbed styled url="https://astro.build/blog/welcome-world/" />
  <!--  -->
  <h2>Unstyled</h2>
  <p>
    <code
      >&lt;OpenGraphEmbed !styled url="https://astro.build/blog/welcome-world/"
      /&gt;</code
    >
  </p>
  <OpenGraphEmbed !styled url="https://astro.build/blog/welcome-world/" />
</Base>
