---
import { OpenGraph } from 'astro-embed';
import Base from '../layouts/Base.astro';
---

<Base title="OpenGraph component example">
  <p>
    <code
      >&lt;OpenGraph url="https://astro.build/blog/welcome-world/" /&gt;</code
    >
  </p>
  <OpenGraph url="https://astro.build/blog/welcome-world/" />
</Base>
