---
import { Spotify } from '@astro-community/astro-embed-spotify';
import Base from '../layouts/Base.astro';
---

<Base title="Spotify component examples">
  <h2>Normal</h2>
  <Spotify
    id="https://open.spotify.com/track/3d1ZZs7GvwSN43muHqgPh1?si=506518b1a71b42c2"
  />

  <h2>Dark, compact, 80% width</h2>
  <p>
    <code
      >&lt;Spotify dark compact widthPercent="80"
      id="https://open.spotify.com/track/3d1ZZs7GvwSN43muHqgPh1" /&gt;</code
    >
  </p>
  <Spotify
    dark
    compact
    widthPercent="80"
    id="https://open.spotify.com/track/3d1ZZs7GvwSN43muHqgPh1"
  />
</Base>
