---
import { Spotify } from '@astro-community/astro-embed-spotify';
import Base from '../layouts/Base.astro';
---

<Base title="Spotify component examples">
  <h2>Normal</h2>
  <Spotify
    url="https://open.spotify.com/track/3d1ZZs7GvwSN43muHqgPh1?si=506518b1a71b42c2"
  />

  <h2>Dark Theme</h2>
  <p>
    <code
      >&lt;Spotify dark
      url="https://open.spotify.com/track/3d1ZZs7GvwSN43muHqgPh1" /&gt;</code
    >
  </p>
  <Spotify dark url="https://open.spotify.com/track/3d1ZZs7GvwSN43muHqgPh1" />

  <h2>Compact</h2>
  <p>
    <code
      >&lt;Spotify compact dark
      url="https://open.spotify.com/artist/2CCcoAwiAwpIs1hcsqkk3b?si=NvLr-MnrTlKr3RxgV_cbTg"
      /&gt;</code
    >
  </p>
  <Spotify
    compact
    dark
    url="https://open.spotify.com/artist/2CCcoAwiAwpIs1hcsqkk3b?si=NvLr-MnrTlKr3RxgV_cbTgxm6aO06"
  />
  <h2>Width = 50%</h2>
  <p>
    <code
      >&lt;Spotify widthPercent="50"
      url="https://open.spotify.com/artist/2CCcoAwiAwpIs1hcsqkk3b?si=NvLr-MnrTlKr3RxgV_cbTg"
      /&gt;</code
    >
  </p>
  <Spotify
    widthPercent="50"
    url="https://open.spotify.com/artist/2CCcoAwiAwpIs1hcsqkk3b?si=NvLr-MnrTlKr3RxgV_cbTg"
  />
</Base>

<style>
  .center {
    text-align: center;
  }
</style>
