---
import * as Component from 'astro-embed';
import Base from '../layouts/Base.astro';
---

<Base title="Twitter component examples">
	<Component.Tweet id="1511750228428435457" />
	<Component.Tweet id="1511380091720409095" />
	<Component.Tweet id="1509917444403601409" />
	<p class="center">…</p>
	<Component.Tweet
		id="https://twitter.com/astrodotbuild/status/1402352777020395521"
	/>
</Base>

<style>
	.center {
		text-align: center;
	}
</style>
