lite-vimeo {
	font-size: 10px;
	background-color: #000;
	position: relative;
	display: block;
	contain: content;
	background-position: center center;
	background-size: cover;
}

/* responsive iframe with a 16:9 aspect ratio
	thanks https://css-tricks.com/responsive-iframes/
*/
lite-vimeo::after {
	content: '';
	display: block;
	padding-bottom: calc(100% / (16 / 9));
}
lite-vimeo > iframe {
	all: unset !important;
	width: 100% !important;
	height: 100% !important;
	position: absolute !important;
	inset: 0 !important;
	border: 0 !important;
}

/* play button */
lite-vimeo > .ltv-playbtn {
	content: '';
	position: absolute;
	inset: 0;
	width: 100%;
	background: transparent;
	outline: 0;
	border: 0;
	cursor: pointer;
}

lite-vimeo > .ltv-playbtn::before {
	width: 6.5em;
	height: 4em;
	background: rgba(23, 35, 34, 0.75);
	opacity: 0.8;
	border-radius: 0.25rem;
	transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
lite-vimeo > .ltv-playbtn:focus::before {
	outline: auto;
}
lite-vimeo:hover > .ltv-playbtn::before {
	background-color: rgb(0, 173, 239);
	background-color: var(--ltv-color, #00adef);
	opacity: 1;
}
/* play button triangle */
lite-vimeo > .ltv-playbtn::after {
	border-style: solid;
	border-width: 1em 0 1em 1.7em;
	border-color: transparent transparent transparent #fff;
}

lite-vimeo > .ltv-playbtn::before,
lite-vimeo > .ltv-playbtn::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

/* Post-click styles */
lite-vimeo.ltv-activated::before,
lite-vimeo.ltv-activated > .ltv-playbtn {
	cursor: unset;
	opacity: 0;
	pointer-events: none;
}
