.mastodon-post {
	border: 1px solid var(--mc-border-color, #cfd9de);
	display: flex;
	flex-direction: column;
	gap: 1em;
	overflow-wrap: anywhere;
	padding: var(--mc-padding, 1em);
}
.mastodon-post > div > :first-child {
	margin-top: 0;
}
.mastodon-post > div > :last-child {
	margin-bottom: 0;
}

.mastodon-post-card {
	border: 1px solid var(--mc-border-color, #cfd9de);
	display: flex;
	flex-direction: column;
}
.mastodon-post-card img {
	width: 100%;
}
.mastodon-post-card img + div {
	border-top: 1px solid var(--mc-border-color, #cfd9de);
	margin-top: 0;
}
.mastodon-post-card div {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
	padding: var(--mc-padding, 1em);
}
.mastodon-post-card div span {
	font-size: 0.875em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mastodon-post-img,
.mastodon-post-video {
	max-width: 100%;
	height: auto;
}
.mastodon-post-audio {
	max-width: 100%;
	object-fit: contain;
}

.mastodon-post-emoji {
	height: 1em;
	/* Grabbed from Mastodon website. */
	margin-block: -0.2ex 0.2ex;
	object-fit: contain;
	vertical-align: middle;
	width: 1em;
}
