.mastodon-toot {
	border: 1px solid var(--tc-border-color, #cfd9de);
	display: flex;
	flex-direction: column;
	gap: 1em;
	overflow-wrap: anywhere;
	padding: var(--tc-padding, 1em);
}
.mastodon-toot > div > :first-child {
	margin-top: 0;
}
.mastodon-toot > div > :last-child {
	margin-bottom: 0;
}

.mastodon-toot-card {
	border: 1px solid var(--tc-border-color, #cfd9de);
	display: flex;
	flex-direction: column;
}
.mastodon-toot-card img + div {
	border-top: 1px solid var(--tc-border-color, #cfd9de);
}
.mastodon-toot-card div {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
	padding: 1em;
}
.mastodon-toot-card div span {
	font-size: 0.875em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mastodon-toot-img,
.mastodon-toot-video {
	max-width: 100%;
	height: auto;
}
.mastodon-toot-audio {
	max-width: 100%;
	object-fit: contain;
}

.mastodon-toot-emoji {
	height: 1em;
	/* Grabbed from Mastodon website. */
	margin-block: -0.2ex 0.2ex;
	object-fit: contain;
	vertical-align: middle;
	width: 1em;
}

/* // FIXME(HiDeoo)  */

.twitter-tweet:not(.twitter-tweet-rendered) {
	padding: var(--tc-padding, 1em);
	border: 1px solid var(--tc-border-color, #cfd9de);
}
.twitter-tweet:not(.twitter-tweet-rendered) > :first-child {
	margin-top: 0;
}
.twitter-tweet:not(.twitter-tweet-rendered) > :last-child {
	margin-bottom: 0;
}
