.twitter-tweet:not(.twitter-tweet-rendered) {
	padding: var(--tc-padding, 1em);
	border: 1px solid var(--tc-border-color, #cfd9de);
}
.twitter-tweet:not(.twitter-tweet-rendered) > :first-child {
	margin-top: 0;
}
.twitter-tweet:not(.twitter-tweet-rendered) > :last-child {
	margin-bottom: 0;
}
