---
import { MastodonPost } from '@astro-community/astro-embed-mastodon';
---

<div class="styled">
	<MastodonPost id="https://m.webtoo.ls/@astro/112966069629573422" />
</div>

<style>
	.styled :global(astro-embed-mastodon::part(root)) {
		--mc-color: gray;
		--mc-color-primary: darkblue;
		--mc-color-secondary: purple;
		--mc-color-link: purple;
		--mc-background-color: floralwhite;
		--mc-border-color: orange;
		--mc-font-family: cursive;

		max-width: 400px;
	}

	.styled :global(astro-embed-mastodon::part(user)) {
		transform: skew(-15deg, 0);
	}

	.styled :global(astro-embed-mastodon::part(preview-card)) {
		display: none;
	}
</style>
